<h1>Edit restaurant</h1>

<ul>
  <% @restaurant.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %> <%= f.text_field :name %>
  <br>
  <%= f.label :location_id %> <%= f.select :location_id, options_for_select(Location.all.map{|location| [location.name, location.id]}, @restaurant.location_id) %>
  <br>
  <%= f.label :cuisine_id %> <%= f.select :cuisine_id, options_for_select(Cuisine.all.map{|cuisine| [cuisine.name, cuisine.id]}, @restaurant.cuisine_id) %>
  <br>
  <%= f.label :closed_on %>
  <%= hidden_field_tag "restaurant[closed_on][]" %>
  <ul>
    <% Date::DAYNAMES.zip((0..6).to_a).each do |day| %>
        <li>
          <%= check_box_tag "restaurant[closed_on][]", day[1], @restaurant.closed_on.include?(day[1]) -%>
          <%= day[0] -%>
        </li>
    <% end %>
  </ul>
  <br>
  <%= f.submit "Update" %>
<% end %>
